html {
  height: 100vh;
}
.headerDivider1 {
  border-left: 1px solid #38546d;
  border-right: 1px solid #16222c;
  height: 80px;
  position: absolute;
  right: 249px;
  top: 10px;
}

.verticalDivider {
  border-right: 1px solid gray;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.bgc-secondary {
  width: 100%;
  padding: 0.5rem 0 0.1rem 1rem;
  margin: 0;
  border-radius: 5px;
  background-color: rgba(240, 240, 240, 0.5);
}

#custom-table td {
  vertical-align: middle;
}

#custom-table > thead > tr th {
  width: 250px;
}

#custom-table > thead > tr th:nth-last-child(1) {
  width: 200px;
}

#custom-table > thead > tr th:nth-child(2) {
  width: auto;
}

#custom-table tr td:nth-child(1) {
  text-align: center;
}

#customer-input-form textarea {
  width: 600px;
}

#servicequota hr {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}
.test-style-wrapper select,
.test-style-wrapper input {
  height: 34px;
  width: 120px;
}
#workitem-process-method {
  width: auto;
}
label {
  margin-bottom: 0;
}

/* #test_style,
#step {
  display: none;
} */
