.headerDivider1 {
  border-left: 1px solid #38546d;
  border-right: 1px solid #16222c;
  height: 80px;
  position: absolute;
  right: 249px;
  top: 10px;
}

.verticalDivider {
  border-right: 1px solid gray;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#custom-table > thead > tr th {
  width: 250px;
}

#custom-table > thead > tr th:nth-last-child(1){
  vertical-align: middle;
  width: 200px;
}

#custom-table > thead > tr th:nth-child(2) {
  width:auto;
}

#custom-table tr td:nth-child(1) {
  text-align: center;
}

